<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="localhost.leveluplife" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LevelUpLife"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="localhost.leveluplife.MyActivity" />
        </activity>
        <activity
            android:name=".SuccessTransfer"
            android:label="@string/title_activity_success_transfer"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="localhost.leveluplife.MyActivity" />
        </activity>
        <activity
            android:name=".PassParam"
            android:label="@string/title_activity_pass_param"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="localhost.leveluplife.MyActivity" />
        </activity>
        <activity
            android:name=".Tasks"
            android:label="@string/title_activity_tasks"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="localhost.leveluplife.MyActivity" />
        </activity>
        <activity
            android:name=".Market"
            android:label="@string/title_activity_market"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="localhost.leveluplife.MyActivity" />
        </activity>
        <activity
            android:name=".Collection"
            android:label="@string/title_activity_collection" >
        </activity>
    </application>

</manifest>
